@media (max-width: 575.98px) {
    #banner .banner-details h1 {
        font-size: 45px;
        line-height: 75px;
    }

    #banner .banner-element {
        display: none;
    }

    #banner .banner-details p {
        font-size: 17px;
        width: auto;
        margin-top: 13px;
        margin-bottom: auto;
    }

    #banner .banner-details .banner-btn {
        margin-top: 35px;
    }

    #banner .banner-details .banner-btn button {
        display: block;
        margin: 0 auto;
    }

    #banner .banner-details .banner-btn a {
        margin-top: 22px;
        padding-left: 52px;
        padding-right: 52px;
    }

    /* counter part starts */
    #counter {
        padding: 100px 0;
    }

    #counter .counter-shape {
        display: none;
    }

    #counter .row .col-lg-3:first-child>.counter-cart::after,
    #counter .row .col-lg-3:nth-child(2)>.counter-cart::after,
    #counter .row .col-lg-3:nth-child(3)>.counter-cart::after {
        display: none;
    }

    #counter .counter-cart h2 {
        font-size: 60px;
    }

    #counter .counter-cart p {
        font-size: 32px;
    }

    #counter .counter-cart {
        margin-top: 40px;
    }

    /* counter part ends */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #banner .banner-details h1 {
        font-size: 45px;
        line-height: 78px;
    }

    #banner .banner-element {
        display: none;
    }

    #banner .banner-details p {
        font-size: 16px;
        width: auto;
        margin-top: 17px;
        margin-bottom: auto;
    }

    #banner .banner-details .banner-btn {
        margin-top: 39px;
    }

    #banner .banner-details .banner-btn button {
        display: block;
        margin: 0 auto;
    }

    #banner .banner-details .banner-btn a {
        margin-top: 22px;
        padding-left: 52px;
        padding-right: 52px;
    }

    /* counter part starts */
    #counter {
        padding: 100px 0;
    }

    #counter .counter-shape {
        display: none;
    }

    #counter .row .col-lg-3:first-child>.counter-cart::after,
    #counter .row .col-lg-3:nth-child(2)>.counter-cart::after,
    #counter .row .col-lg-3:nth-child(3)>.counter-cart::after {
        display: none;
    }

    #counter .counter-cart h2 {
        font-size: 65px;
    }

    #counter .counter-cart p {
        font-size: 35px;
    }

    #counter .counter-cart {
        margin-top: 40px;
    }

    /* counter part ends */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #banner .banner-details h1 {
        font-size: 52px;
        line-height: 90px;
    }

    #banner .banner-element {
        display: none;
    }

    #banner .banner-details p {
        font-size: 17px;
        width: auto;
        margin-top: 17px;
        margin-bottom: auto;
    }

    #banner .banner-details .banner-btn {
        margin-top: 39px;
    }

    #banner .banner-details .banner-btn button {
        display: block;
        margin: 0 auto;
    }

    #banner .banner-details .banner-btn a {
        margin-top: 22px;
        padding-left: 52px;
        padding-right: 52px;
    }

    /* counter part starts */
    #counter {
        padding: 100px 0;
    }

    #counter .counter-shape {
        display: none;
    }

    #counter .row .col-lg-3:first-child>.counter-cart::after,
    #counter .row .col-lg-3:nth-child(2)>.counter-cart::after,
    #counter .row .col-lg-3:nth-child(3)>.counter-cart::after {
        display: none;
    }

    #counter .counter-cart h2 {
        font-size: 65px;
    }

    #counter .counter-cart p {
        font-size: 35px;
    }

    #counter .counter-cart {
        margin-top: 40px;
    }

    /* counter part ends */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        transition: all linear 0.3s;
    }

    #banner .banner-details h1 {
        font-size: 58px;
        line-height: 95px;
    }

    #banner .banner-element img {
        width: 940px;
    }

    #banner .banner-details p {
        font-size: 19px;
        width: auto;
        margin-top: 17px;
        margin-bottom: auto;
    }

    #banner .banner-details .banner-btn {
        margin-top: 39px;
    }

    /* counter part starts */
    #counter {
        padding: 220px 0;
        position: relative;
    }

    #counter .counter-cart h2 {
        font-size: 55px;
    }

    #counter .counter-cart p {
        font-size: 27px;
    }

    #counter .counter-shape img {
        width: 200px;
    }

    /* counter part ends */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        transition: all linear 0.3s;
    } */
    #banner .banner-details h1 {
        font-size: 69px;
        line-height: 100px;
    }

    #banner .banner-element img {
        width: 1130px;
    }

    #banner .banner-details p {
        font-size: 21px;
        width: auto;
        margin-top: 17px;
        margin-bottom: auto;
    }

    #banner .banner-details .banner-btn {
        margin-top: 39px;
    }

    /* counter part starts */
    #counter {
        padding: 240px 0;
        position: relative;
    }

    #counter .counter-cart h2 {
        font-size: 60px;
    }

    #counter .counter-cart p {
        font-size: 31px;
    }

    #counter .counter-shape img {
        width: 220px;
    }

    /* counter part ends */

    /* choose part starts */
    /* choose part ends */
}